@model FaceBookChat.Models.MessageUser

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>MessageUser</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserReciver.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserReciver.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserSender.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserSender.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Message)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Message)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SeenStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SeenStatus)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
